.header {
  display: flex;
  margin: 0 1.5rem;
  padding: 1.5rem 0;
  gap: 0.4rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid var(--gray-400);

  .welcome {
    font-size: 1rem;
    color: var(--black);
    font-weight: 500;
    line-height: 19px;
  }

  .date-information {
    font-size: 1rem;
    color: var(--gray-500);
    font-weight: 400;
    line-height: 19px;
  }
}

@media (min-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}